In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('employee.csv')

In [6]:
df

   eno  ename grade
0    1   john     A
1    2  shyam     B

In [8]:
df1=pd.read_csv('employees.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'employees.csv'

In [9]:
"df[['ename','age']]"

"df[['ename','age']]"

In [10]:
"df[['ename','grade']]"

"df[['ename','grade']]"

In [11]:
df[['ename','grade']]

   ename grade
0   john     A
1  shyam     B

In [14]:
df['ename']

0     john
1    shyam
Name: ename, dtype: object

In [15]:
ser=df['ename']

In [17]:
df.iloc[1,1]

'shyam'

In [19]:
df.head(1)

   eno ename grade
0    1  john     A

In [20]:
df.head(0)

Empty DataFrame
Columns: [eno, ename, grade]
Index: []

In [21]:
df.head(2)

   eno  ename grade
0    1   john     A
1    2  shyam     B

In [22]:
df.tail(1)

   eno  ename grade
1    2  shyam     B

In [23]:
df.head(2)

   eno  ename grade
0    1   john     A
1    2  shyam     B

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eno     2 non-null      int64
 1   ename   2 non-null      object
 2   grade   2 non-null      object
dtypes: int64(1), object(2)
memory usage: 180.0+ bytes

In [25]:
df.describe()

            eno
count  2.000000
mean   1.500000
std    0.707107
min    1.000000
25%    1.250000
50%    1.500000
75%    1.750000
max    2.000000

In [26]:
df

   eno  ename grade
0    1   john     A
1    2  shyam     B